NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
RESEND_API_KEY=
ADMIN_PASSWORD=
SESSION_SECRET=

VITE_CALENDLY_EVENT_URL=https://calendly.com/omarobakkali/30min
CALENDLY_API_TOKEN=
CALENDLY_WEBHOOK_SIGNING_KEY=
